@import url('htps://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

.display {
    background-color: #454647;
    color: white;
    font-size: 2em;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: #454647;
}

.btn {
    background-color: #737474;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-special {
    background-color: #575859;
}

.btn-operator {
    background-color: #ff9f09;
}

.btn:hover {
    background-color: #888;
}

.btn-special:hover {
    background-color: #7e7f80;
}

.btn-operator:hover {
    background-color: #f8bd79;
}

.zero {
    grid-column: span 2;
}

.controls {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    gap: 10px;
}

.control {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.control.red {
    background-color: #ff5f57;
}

.control.orange {
    background-color: #ffbd44;
}

.control.green {
    background-color: #27c93f;
}


























































































